textarea {
    min-height: 400px;
}

#user-email{
    margin-top: 10px;
}

.email{
    border: 2px solid rgb(41, 125, 194);
    border-radius: 15px;
    margin: 5px;
}

.email div {
    margin: 5px;
}

#button-div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#button-div button{
    margin: 5px;
}

#body{
    margin-left: 20px;
}

.div2 , #timestamp{
    text-align: end;
}

.alert.alert-light {
    color: black;
    font-weight: bolder;
    padding-bottom: 0;
    padding-top: 0;
}

.alert.alert-secondary{
    border-radius: 15px;
    padding-bottom: 0;
    padding-top: 0;
}

.btn.btn-dark{
    padding: 2px;
}

.div2{
    padding-right: 20px;
}